/* 评分样式 ------------------------------------------------------------------------------------------------------------------*/

.task_score{
	padding-top: 10px;
	padding-bottom: 20px;
}
.task_score p{
	line-height: 26px;
}
.score_level{
	height: 22px;
	width: 100px;
	overflow: hidden;
}

.score_level li{
	background-image: url(./images/score_level.gif);
	background-repeat: no-repeat;
	background-position: left 6px;
	float: left;
	height: 22px;
	width: 16px;
	margin-right: 4px;
}

.score_level li.focus{
	background-image: url(./images/score_level.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
}

.score_works_peed{
	line-height: 28px;
}

.score_works_attitude{
	line-height: 28px;
}

.score_works_quality{
	line-height: 28px;
}



.seller_score_works_peed,.seller_score_works_attitude,.seller_score_works_quality{
	background-image: url(./images/score_level.gif);
	background-repeat: no-repeat;
	background-position: left top;
	overflow: hidden;
	height: 16px;
	width: 80px;
}
.seller_score_works_peed ul,.seller_score_works_attitude ul,.seller_score_works_quality ul{
	background-image: url(./images/score_level.gif);
	background-repeat: no-repeat;
	background-position: left -63px;
	overflow: hidden;
	height: 16px;
	width: 0px;
}









/* 用户头衔样式 ------------------------------------------------------------------------------------------------------------------*/
.member_level1{
	background-image: url(./images/member_level.png);
	background-repeat: no-repeat;
	display: block;
	height: 18px;
	margin-bottom: 4px;
	margin-top: 4px;
}

.member_level2{
	background-image: url(./images/member_level.png);
	background-repeat: no-repeat;
	display: block;
	height: 18px;
	margin-bottom: 4px;
	margin-top: 4px;
	background-position: left -18px;
}

.member_level3{
	background-image: url(./images/member_level.png);
	background-repeat: no-repeat;
	display: block;
	height: 18px;
	margin-bottom: 4px;
	margin-top: 4px;
	background-position: left -36px;
}

.member_level4{
	background-image: url(./images/member_level.png);
	background-repeat: no-repeat;
	display: block;
	height: 18px;
	margin-bottom: 4px;
	margin-top: 4px;
	background-position: left -54px;
}


.member_level5{
	background-image: url(./images/member_level.png);
	background-repeat: no-repeat;
	display: block;
	height: 18px;
	margin-bottom: 4px;
	margin-top: 4px;
	background-position: left -72px;
}


.member_level6{
	background-image: url(./images/member_level.png);
	background-repeat: no-repeat;
	display: block;
	height: 18px;
	margin-bottom: 4px;
	margin-top: 4px;
	background-position: left -90px;
}

.member_level7{
	background-image: url(./images/member_level.png);
	background-repeat: no-repeat;
	display: block;
	height: 18px;
	margin-bottom: 4px;
	margin-top: 4px;
	background-position: left -108px;
}

.member_level8{
	background-image: url(./images/member_level.png);
	background-repeat: no-repeat;
	display: block;
	height: 18px;
	margin-bottom: 4px;
	margin-top: 4px;
	background-position: left -126px;
}

.member_level9{
	background-image: url(./images/member_level.png);
	background-repeat: no-repeat;
	display: block;
	height: 18px;
	margin-bottom: 4px;
	margin-top: 4px;
	background-position: left -144px;
}

.member_level10{
	background-image: url(./images/member_level.png);
	background-repeat: no-repeat;
	display: block;
	height: 18px;
	margin-bottom: 4px;
	margin-top: 4px;
	background-position: left -162px;
}


/* 用户认证样式 ------------------------------------------------------------------------------------------------------------------*/

.MobileIcon,.PersonalIcon,.MailIcon,.CompanyIcon,.VIPIcon,.BaoIcon,.YuanIcon,.MianIcon,.SanIcon,.ShangIcon{
	background-image: url(./images/CertificateIcon.png);
	background-repeat: no-repeat;
	display: block;
	height: 20px;
	width: 20px;
	float: left;
	overflow: hidden;
	margin-right: 6px;
	margin-bottom: 6px;
}
.MobileIcon{
	background-position: left -40px;
}

.MailIcon{
	background-position: left 0px;
}

.PersonalIcon{
	background-position: left -20px;
}	

.CompanyIcon{
	background-position: left -60px;
}	

.VIPIcon{
	background-position: left -100px;
}
.BaoIcon{
	background-position: left -120px;
}	
.YuanIcon{
	background-position: left -140px;
}	
.MianIcon{
	background-position: left -160px;
}	
.SanIcon{
	background-position: left -180px;
}	
.ShangIcon{
	background-position: left -200px;
}	

/* 用户卖家积分样式 ------------------------------------------------------------------------------------------------------------------*/

.seller_credit_level1,.seller_credit_level2,.seller_credit_level3,.seller_credit_level4,.seller_credit_level5,.seller_credit_level6,.seller_credit_level7,.seller_credit_level8,.seller_credit_level9,.seller_credit_level10,.seller_credit_level11,.seller_credit_level12,.seller_credit_level13,.seller_credit_level14,.seller_credit_level15,.seller_credit_level16,.seller_credit_level17,.seller_credit_level18,.seller_credit_level19,.seller_credit_level20{
	background-repeat: no-repeat;
	height: 16px;
	margin-bottom: 6px;
	padding-left: 88px;
}

.seller_credit_level1{
	background-image: url(./images/seller_credit_level/level_1.gif);
}


.seller_credit_level2{
	background-image: url(./images/seller_credit_level/level_2.gif);
}

.seller_credit_level3{
	background-image: url(./images/seller_credit_level/level_3.gif);
}

.seller_credit_level4{
	background-image: url(./images/seller_credit_level/level_4.gif);
}

.seller_credit_level5{
	background-image: url(./images/seller_credit_level/level_5.gif);
}

.seller_credit_level6{
	background-image: url(./images/seller_credit_level/level_6.gif);
}

.seller_credit_level7{
	background-image: url(./images/seller_credit_level/level_7.gif);
}
.seller_credit_level8{
	background-image: url(./images/seller_credit_level/level_8.gif);
}
.seller_credit_level9{
	background-image: url(./images/seller_credit_level/level_9.gif);
}
.seller_credit_level10{
	background-image: url(./images/seller_credit_level/level_10.gif);
}
.seller_credit_level11{
	background-image: url(./images/seller_credit_level/level_11.gif);
}
.seller_credit_level12{
	background-image: url(./images/seller_credit_level/level_12.gif);
}
.seller_credit_level13{
	background-image: url(./images/seller_credit_level/level_13.gif);
}
.seller_credit_level14{
	background-image: url(./images/seller_credit_level/level_14.gif);
}
.seller_credit_level15{
	background-image: url(./images/seller_credit_level/level_15.gif);
}
.seller_credit_level16{
	background-image: url(./images/seller_credit_level/level_16.gif);
}
.seller_credit_level17{
	background-image: url(./images/seller_credit_level/level_17.gif);
}
.seller_credit_level18{
	background-image: url(./images/seller_credit_level/level_18.gif);
}
.seller_credit_level19{
	background-image: url(./images/seller_credit_level/level_19.gif);
}
.seller_credit_level20{
	background-image: url(./images/seller_credit_level/level_20.gif);
}

/* 用户买家积分样式------------------------------------------------------------------------------------------------------------------*/


.buyer_credit_level1,.buyer_credit_level2,.buyer_credit_level3,.buyer_credit_level4,.buyer_credit_level5,.buyer_credit_level6,.buyer_credit_level7,.buyer_credit_level8,.buyer_credit_level9,.buyer_credit_level10,.buyer_credit_level11,.buyer_credit_level12,.buyer_credit_level13,.buyer_credit_level14,.buyer_credit_level15,.buyer_credit_level16,.buyer_credit_level17,.buyer_credit_level18,.buyer_credit_level19,.buyer_credit_level20{
	background-repeat: no-repeat;
	height: 16px;
	margin-bottom: 6px;
	padding-left: 88px;
}

.buyer_credit_level1{
	background-image: url(./images/buyer_credit_level/level_1.gif);
}


.buyer_credit_level2{
	background-image: url(./images/buyer_credit_level/level_2.gif);
}

.buyer_credit_level3{
	background-image: url(./images/buyer_credit_level/level_3.gif);
}

.buyer_credit_level4{
	background-image: url(./images/buyer_credit_level/level_4.gif);
}

.buyer_credit_level5{
	background-image: url(./images/buyer_credit_level/level_5.gif);
}

.buyer_credit_level6{
	background-image: url(./images/buyer_credit_level/level_6.gif);
}

.buyer_credit_level7{
	background-image: url(./images/buyer_credit_level/level_7.gif);
}
.buyer_credit_level8{
	background-image: url(./images/buyer_credit_level/level_8.gif);
}
.buyer_credit_level9{
	background-image: url(./images/buyer_credit_level/level_9.gif);
}
.buyer_credit_level10{
	background-image: url(./images/buyer_credit_level/level_10.gif);
}
.buyer_credit_level11{
	background-image: url(./images/buyer_credit_level/level_11.gif);
}
.buyer_credit_level12{
	background-image: url(./images/buyer_credit_level/level_12.gif);
}
.buyer_credit_level13{
	background-image: url(./images/buyer_credit_level/level_13.gif);
}
.buyer_credit_level14{
	background-image: url(./images/buyer_credit_level/level_14.gif);
}
.buyer_credit_level15{
	background-image: url(./images/buyer_credit_level/level_15.gif);
}
.buyer_credit_level16{
	background-image: url(./images/buyer_credit_level/level_16.gif);
}
.buyer_credit_level17{
	background-image: url(./images/buyer_credit_level/level_17.gif);
}
.buyer_credit_level18{
	background-image: url(./images/buyer_credit_level/level_18.gif);
}
.buyer_credit_level19{
	background-image: url(./images/buyer_credit_level/level_19.gif);
}
.buyer_credit_level20{
	background-image: url(./images/buyer_credit_level/level_20.gif);
}



/* 应用小图标样式------------------------------------------------------------------------------------------------------------------*/


.home_ico{
	background-image: url(./images/home.png);
	background-repeat: no-repeat;
	background-position: 10px 4px;
}

.coins_ico{
	background-image: url(./images/coins_ico.png);
	background-repeat: no-repeat;
	background-position: 10px 4px;
}

.member_ico{
	background-image: url(./images/member_ico.png);
	background-repeat: no-repeat;
	background-position: 10px 4px;
}

.home_ico{
	background-image: url(./images/home_ico.png);
	background-repeat: no-repeat;
	background-position: 10px 4px;
}

.apppay_ico{
	background-image: url(./images/apppay_ico.png);
	background-repeat: no-repeat;
	background-position: 10px 4px;
}

.sms_ico{
    background-image: url(./images/mail.png);
	background-repeat: no-repeat;
	background-position: 10px 4px;
}

.friend_ico{
    background-image: url(./images/friend.png);
	background-repeat: no-repeat;
	background-position: 10px 4px;
}

.prop_ico{
	background-image: url(./images/siteservice_ico.png);
	background-repeat: no-repeat;
	background-position: 10px 4px;
}

.certificate_ico{
	background-image: url(./images/certificate_ico.png);
	background-repeat: no-repeat;
	background-position: 10px 4px;	
}

.credit_ico{
	background-image: url(./images/credit_ico.png);
	background-repeat: no-repeat;
	background-position: 10px 4px;	
}


.email_ico{
	background-image: url(./images/email_ico.png);
	background-repeat: no-repeat;
	background-position: 10px 4px;	
}

.realpersonal_ico{
	background-image: url(./images/realpersonal_ico.png);
	background-repeat: no-repeat;
	background-position: 10px 4px;	
}


.realcompany_ico{
	background-image: url(./images/realcompany_ico.png);
	background-repeat: no-repeat;
	background-position: 10px 4px;	
}


.mobile_ico{
	background-image: url(./images/phone_ico.png);
	background-repeat: no-repeat;
	background-position: 10px 4px;	
}


.sns_ico{
	background-image: url(./images/sns_ico.png);
	background-repeat: no-repeat;
	background-position: 10px 4px;	
}

.union_ico{
	background-image: url(./images/union_ico.png);
	background-repeat: no-repeat;
	background-position: 10px 4px;	
}

.count_ico{
	background-image: url(./images/count_ico.png);
	background-repeat: no-repeat;
	background-position: 10px 4px;	
}


.map_ico{
	background-image: url(./images/map_ico.png);
	background-repeat: no-repeat;
	background-position: 10px 4px;
}

.seller_service_ico{
	background-image: url(./images/seller_service_ico.png);
	background-repeat: no-repeat;
	background-position: 10px 6px;
}

.link_ico{
	background-image: url(./images/link_ico.png);
	background-repeat: no-repeat;
	background-position: 10px 4px;
}

.grab_ico{
	background-image: url(./images/grab_ico.png);
	background-repeat: no-repeat;
	background-position: 10px 4px;
}
.weibo_ico{
	background-image: url(./images/weibo_ico.png);
	background-repeat: no-repeat;
	background-position: 10px 4px;
}
.member_vip_ico{
	background-image: url(./images/member_vip_ico.gif);
	background-repeat: no-repeat;
	background-position: 10px 4px;
}



.add_friend{
	background-image: url(./images/add.png);
	background-repeat: no-repeat;
	padding-left: 20px;
	padding-bottom: 2px;
}
.send_message{	
    background-image: url(./images/mail.png);
	background-repeat: no-repeat;
	padding-left: 20px;
	padding-bottom: 2px;
}



.member_left{
	width: 150px;
	background-color: #E4F5FC;
	float: left;
}
.member_left h2{
	background-image: url(./images/member_h2_bg.png);
	background-repeat: no-repeat;
	background-position: left top;
	line-height: 24px;
	font-size: 12px;
	color: #FFF;
	padding-left: 30px;
}
.member_right{
	padding-bottom: 8px;
	float: right;
	display: inline-block;
	overflow: hidden;
	width: 750px;
}
.member_table_line{
	/*border: 1px solid #EEE;*/
}
.member_menu{
	padding-top: 20px;
	padding-bottom: 20px;
}
.member_menu ul h2{
	font-size: 16px;
	color: #000;
	line-height: 36px;
	overflow: hidden;
	height: 36px;
	margin-top: 10px;
}

.member_menu ul li{
	line-height: 28px;
	margin-bottom: 2px;
	overflow: hidden;
	height: 28px;
}
.member_menu ul li a{
	padding-left: 52px;
	display: block;
	color: #555;
	font-size: 14px;
}
.member_menu ul li a:hover{
	display: block;
	background-color: #FBE7A2;
}
.member_menu ul li.tab{
	line-height: 38px;
	font-weight: bold;
	color: #000;
	background-color: #FFF;
	overflow: hidden;
	height: 38px;
	border-left-width: 4px;
	border-left-style: solid;
	border-left-color: #F4C41D;
	margin-left: -4px;
}


.manage_menu{
	height: 37px;
	margin-bottom: 10px;
	margin-top: 10px;
}
.manage_menu ul{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E0E0E0;
	height: 37px;
	padding-left: 10px;
}
.manage_menu ul li{
	line-height: 32px;
	float: left;
	margin-right: 4px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #E0E0E0;
	border-right-color: #E0E0E0;
	border-left-color:#E0E0E0;
	background-color: #F7F7F7;
	margin-top: 4px;
	-moz-border-radius-topleft: 4px;
	-webkit-border-top-left-radius: 4px;
	-khtml-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-right-radius: 4px;
	-khtml-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
}
.manage_menu ul li a{
	padding-right: 20px;
	padding-left: 20px;
	display: block;
}
.manage_menu ul li.now_meun_tab{
	height: 35px;
	background-color: #FFF;
	font-weight: bold;
	color: #036;
	border-top-width: 3px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #F4C41D;
	border-right-color: #E0E0E0;
	border-left-color: #E0E0E0;
	line-height: 36px;
	overflow: hidden;
	margin-top: 0px;

}
.manage_menu ul li.menu_display_none{
	display: none;
}

.manage_process{
	background-color: #EEE;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #E6E6E6;
	height: 26px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #E6E6E6;
	border-left-color: #E6E6E6;
}
.manage_process ul li{
	float: left;
	line-height: 26px;
}
.manage_process ul li a{
	display: block;
	padding-right: 10px;
	padding-left: 10px;
}
.manage_operate{
	line-height: 26px;
	border: 1px solid #E6E6E6;
	padding-left: 16px;
	margin-bottom: 10px;
}
.manage_table{
	margin-bottom: 10px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #E6E6E6;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #E6E6E6;
}
.manage_table .order{
	padding-left: 16px;
	background-color: #EEE;
	line-height: 26px;
	color: #666;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.manage_table tr td{
	padding: 10px;
	color: #333;
	line-height: 20px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #E6E6E6;
	border-bottom-color: #E6E6E6;
}
.manage_process .nowsort a{
	color: #F60;
	background-color: #FFF;
}
.credit_level{
	height: 55px;
}

.credit_level ul{
	height: 26px;
}

.credit_level ul li{
	float: left;
	width: 100px;
}
.credit_hao{
	background-image: url(./images/credit_level.gif);
	background-repeat: no-repeat;
	background-position: left top;
	height: 26px;
	width: 100px;
}

.credit_zhong{
	background-image: url(./images/credit_level.gif);
	background-repeat: no-repeat;
	background-position: left -68px;
	height: 26px;
	width: 100px;
}

.credit_cha{
	background-image: url(./images/credit_level.gif);
	background-repeat: no-repeat;
	background-position: left -138px;
	height: 26px;
	width: 100px;
}
.datalist tr td{
	padding-left: 16px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #EEE;
}
.datalist tr.over td {
	background-color: #EEF5F9;
}  
.datalist .downorder{
	background-image: url(./images/menu_icon_down.png);
	background-repeat: no-repeat;
	background-position: left 17px;
	display: block;
	line-height: 30px;
}
.datalist .uporder{
	background-image: url(./images/menu_icon_up.png);
	background-repeat: no-repeat;
	background-position: left 17px;
	display: block;
	line-height: 30px;
}
.member_form tr td{
	height: 46px;
}
.myavatar{
	line-height: 20px;
}
.apppay tr td{
	height: 46px;
}

.consume_subject{
	color: #999;
}

.consume_subject p{
	color: #555;
}
.MyMoney{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 32px;
	text-align: right;
	padding-right: 20px;
}
.sms_subject{
	background-image: url(./images/line.png);
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	text-align: center;
	background-repeat: repeat-x;
	background-position: left bottom;
	margin-bottom: 20px;
}
.sms_dateline{
	padding-top: 30px;
	text-align: right;
	color: #999;
	line-height: 30px;
	padding-right: 20px;
}
.my_credit{
	line-height: 32px;
	padding: 20px;
}
.userlist ul{
	padding-top: 20px;
	padding-bottom: 20px;
	display: block;
}
.userlist ul li{
	float: left;
	height: 80px;
	width: 88px;
	margin-right: 10px;
	text-align: center;
	margin-bottom: 20px;
	overflow: hidden;
}
.userlist ul li img{
	padding: 1px;
	border: 1px solid #E4E4E4;
}

.userlist ul li p{
	padding-top: 6px;
}

.member_top_menu{
	float: right;
	margin-top:0px!important;
	margin-top: -70px;
}
.member_top_menu ul{
	padding-top: 50px;
}
.member_top_menu ul li{
	background-image: url(./images/button_bg1.png);
	float: left;
	line-height: 26px;
	margin-right: 12px;
	border: 1px solid #CCC;
	background-color: #F2F2F2;
	padding-right: 12px;
	padding-left: 12px;
	background-repeat: repeat-x;
}
.member_top_menu ul li a{
	font-weight: bold;
}

/* 任务 */

.taskdraft{
	padding: 20px;
	line-height: 28px;
}

.taskdraft h3{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E8E8E8;
	line-height: 30px;
}

.taskdraft h3 em{
	font-style: normal;
	font-weight: normal;
	float: right;
	font-size: 12px;
}

.weiji_ico{
	background-image: url(./images/weiji_ico.png);
	background-repeat: no-repeat;
	background-position: 10px 4px;
}

.addtask_text{
	text-align: right;
	padding-right: 20px;
}

/* 会员中心ICON */
.member_home,.member_order,.member_task,.member_hire,.member_comment,.member_favorites,.member_follow,.member_sms,.member_notice,.member_basic,.member_minute,.member_net,.member_maps,.member_transaction,.member_pay,.member_payout,.member_vip,.member_email,.member_mobile,.member_realname,.member_props,.member_union,.member_report,.member_skills,.member_draft,.member_security,.member_security_manage,.member_security_use,.member_refund,.member_rights{
	background-image: url(./images/member_icon.png);
	background-repeat: no-repeat;
}

.member_home{
	background-position: 28px center;
}
.member_order{
	background-position: -121px center;
}
.member_task{
	background-position: -271px center;
}
.member_hire{
	background-position: -422px center;
}
.member_comment{
	background-position: -572px center;
}
.member_favorites{
	background-position: -722px center;
}
.member_follow{
	background-position: -872px center;
}
.member_sms{
	background-position: -1021px center;
}
.member_notice{
	background-position: -1171px center;
}
.member_basic{
	background-position: -1321px center;
}
.member_minute{
	background-position: -1472px center;
}
.member_net{
	background-position: -1623px center;
}
.member_maps{
	background-position: -1773px center;
}
.member_transaction{
	background-position: -1922px center;
}
.member_pay{
	background-position: -2072px center;
}
.member_payout{
	background-position: -2222px center;
}
.member_vip{
	background-position: -2373px center;
}
.member_email{
	background-position: -2523px center;
}
.member_mobile{
	background-position: -2674px center;
}
.member_realname{
	background-position: -2825px center;
}
.member_props{
	background-position: -2975px center;
}
.member_union{
	background-position: -3125px center;
}
.member_report{
	background-position: -3275px center;
}
.member_skills{
	background-position: -3426px center;
}
.member_draft{
	background-position: -3577px center;
}

.member_security{
	background-position: -3726px center;
}
.member_security_manage{
	background-position: -3876px center;
}

.member_security_use{
	background-position: -4026px center;
}

.member_refund{
	background-position: -4176px center;
}

.member_rights{
	background-position: -4326px center;
}

.message_type_list tr td{
	line-height: 30px;
	color: #666;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #DDD;
	text-align: center;
}
.message_type_list tr td.message_type_text{
	text-align: right;
	width: 260px;
}

/* SMS */

.sms_lasttime{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #DDD;
	overflow: hidden;
	padding: 10px;
}
.sms_lasttime div{
	float: left;
	overflow: hidden;
	height: 50px;
	width: 50px;
	margin-right: 10px;
}
.sms_new_dateline{
	color: #999;
}

.member_menu_add{
	background-image: url(./images/member_menu_add.gif);
	background-repeat: no-repeat;
	background-position: -169px 0px;
	padding-left: 18px;
	margin-left: -18px;
}

/* 2013-6-28 */
.member_menu_add.remove{
	background-position: 0px 0px;
}


