.order_process{
	background-image: url(./images/order_process.png);
	height: 28px;
	background-repeat: no-repeat;
	background-position: left top;
	margin-bottom: 10px;
}
.order_process ul{height: 28px;}

.order_process ul li{
	line-height: 28px;
	float: left;
	width: 159px;
	text-align: center;
	font-weight: bold;
}
.order_process_schedule{
	background-image: url(./images/order_process.png);
	background-repeat: no-repeat;
}

.mobile_certificate{
	padding: 20px;
}

.mobile_certificate p{
	height: 40px;
	line-height: 24px;
}
.mobile_certificate h4{
	font-size: 12px;
	line-height: 32px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #F5F5F5;
	margin-top: 20px;
}