.china-cn{
	background-position: 6px -21px;
}

.china-tw{
	background-position: 6px -51px;
}

.engish{
	background-position: 6px -81px;
}

.italy{
	background-position: 6px -111px;
}

.france{
	background-position: 6px -141px;
}

.germany{
	background-position: 6px -171px;
}

.china-hk{
	background-position: 6px -201px;
}

.japan{
	background-position: 6px -231px;
}

.korea{
	background-position: 6px -261px;
}

.mexico{
	background-position: 6px -291px;
}

.portugal{
	background-position: 6px -321px;
}

.sweden{
	background-position: 6px -351px;
}

.thailand{
	background-position: 6px -381px;
}

.greatbritain{
	background-position: 6px -411px;
}

.canada{
	background-position: 6px -441px;
}
