.sitemap li h3{
	font-size: 16px;
	line-height: 40px;
	color: #09C; 
}
.sitemap li p{
	overflow: hidden;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #EEE;
	padding-bottom: 10px;
}
.sitemap li p a{
	display: block;
	float: left;
	margin-right: 10px;
}